donatrack/servicio-incentivos/n8n/insignia-obtenida.workflow.json
{
  "name": "DonaTrack - Insignia Obtenida",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "insignia-obtenida",
        "responseMode": "responseNode"
      },
      "id": "1",
      "name": "Webhook - Insignia Obtenida",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -420,
        0
      ],
      "webhookId": "insignia-obtenida"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "donanteId",
              "type": "string",
              "value": "={{ $json.body.donanteId }}"
            },
            {
              "name": "insigniaNombre",
              "type": "string",
              "value": "={{ $json.body.insigniaNombre }}"
            },
            {
              "name": "fechaObtencion",
              "type": "string",
              "value": "={{ $json.body.fechaObtencion }}"
            },
            {
              "name": "destinatario",
              "type": "string",
              "value": "={{ $json.body.destinatario }}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Normalizar payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "imageUrl",
              "type": "string",
              "value": "={{ 'https://image.pollinations.ai/prompt/' + encodeURIComponent('Insignia digital solidaria para DonaTrack, estilo badge moderno, cuadrada, fondo limpio, colores alegres, recompensa por donar, texto principal: ' + $json.insigniaNombre) }}"
            }
          ]
        }
      },
      "id": "3",
      "name": "Construir URL Pollinations",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ username: 'DonaTrack Bot', embeds: [ { title: 'Nueva insignia obtenida', description: '**' + $('Normalizar payload').item.json.destinatario + '** acaba de ganar la insignia **' + $('Normalizar payload').item.json.insigniaNombre + '** en DonaTrack.', color: 16766720, fields: [ { name: 'Donante ID', value: $('Normalizar payload').item.json.donanteId, inline: true }, { name: 'Fecha', value: $('Normalizar payload').item.json.fechaObtencion, inline: true } ], image: { url: $json.imageUrl }, footer: { text: 'DonaTrack - Sistema de donaciones' } } ] }) }}"
      },
      "id": "4",
      "name": "Publicar en Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"ok\", \"destino\": \"discord\", \"imagenGenerada\": true } }}"
      },
      "id": "5",
      "name": "Responder al backend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        460,
        0
      ]
    }
  ],
  "connections": {
    "Webhook - Insignia Obtenida": {
      "main": [
        [
          {
            "node": "Normalizar payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar payload": {
      "main": [
        [
          {
            "node": "Construir URL Pollinations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir URL Pollinations": {
      "main": [
        [
          {
            "node": "Publicar en Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar en Discord": {
      "main": [
        [
          {
            "node": "Responder al backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
